@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #FFFFFF;
    --light-grey: #F0F1F3;
    --input-bg: #DDDEEE;
    --red: red;
    --blue: #4287f5;
    --dark-blue: #14238A;
}

p {
    margin: .5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline !important;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-grey);
}

.red-color {
    color: var(--red);
}

.full-vh {
    height: 100vh;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

.gap-3px {
    gap: 3px;
}

.gap-05em {
    gap: .5em;
}

.gap-1em {
    gap: 1em;
}

.card,
.mini-cards {
    background: var(--white);
    padding: 0 1.5em 1.5em;
    border-radius: 14px;
    box-shadow: 1px 2px #8080807d;
}

.mini-cards {
    width: 49%;
    box-sizing: border-box;
    padding: 10px;
}

input {
    width: 100%;
    height: 35px;
    border-radius: 7px;
    border: none;
    background: var(--input-bg);
    padding: 0 10px;
    box-sizing: border-box;
}

.error-msg {
    color: var(--red);
    font-size: 12px;
    height: 19px;
}

.btn {
    border: none;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}

.blue-btn {
    color: var(--white);
    background: var(--blue);
}

.side-menu {
    height: 100%;
    width: 200px;
    background-color: var(--blue);
    color: var(--white);
}

.side-menu-logo {
    background-color: var(--red);
    height: 60px;
}

.menu-item {
    display: flex;
    height: 60px;
    gap: 1em;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--blue);
    border: 2px solid var(--dark-blue);
    box-sizing: border-box;
}

.main-container {
    height: 100%;
    width: calc(100% - 200px);
}

.main-container nav {
    height: 60px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
}

.displayer {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 1em;
    box-sizing: border-box;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

.table-card {
    padding: .5em 1.5em 1.5em;
}

.no-margin {
    margin: 0;
}